<div class="layout">
    <div class="columns columns--2">
        <div class="column">
            <div class="list" data-list-limit="true" data-list-max-height="450" data-list-hidden-count="true" data-list-max-columns="1">
                {% for soup in soups %}
                    {% unless forloop.last %}
                        <div class="item">
                            <div class="meta">
                                <span class="index">{{ forloop.index }}</span>
                            </div>
                            <div class="content">
                                <span class="title title--small" data-value-fit="true" data-value-fit-max-height="40">{{ soup.title }}</span>
                                <div class="flex flex--row align--center gap--small">
                                    {% if soup.description %}
                                        <span class="description clamp--2" data-value-fit="true" data-value-fit-max-height="30">{{ soup.description }}</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endunless %}
                {% endfor %}
                 <hr class="divider">
                 {% for sandwich in sandwiches %}
                    <div class="item">
                        <div class="meta">
                            <span class="index">{{ forloop.index }}</span>
                        </div>
                        <div class="content">
                            <span class="title title--small" data-value-fit="true" data-value-fit-max-height="40">{{ sandwich.title }}</span>
                            <div class="flex flex--row align--center gap--small">
                                {% if sandwich.description %}
                                    <span class="description clamp--2" data-value-fit="true" data-value-fit-max-height="30">{{ sandwich.description }}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="title_bar">
    <span class="title">MetroFresh ATL</span>
    <span class="instance">Soups and Sandwiches</span>
</div>
